@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --clr-dark-100-: #4E4450;
    --clr-dark-200-: #625665;
    --clr-light-1000: #EEFFEE;
    --clr-light-800: #D6F0DD;
    --clr-light-700: #d6ead6;
    --clr-accent-: #4EE99E;
    --clr-weather-blue: #35ABED;

    --bg-color: var(--clr-light-1000);
    --bg-secondary-color: var(--clr-light-700);
    --text-color: var(--clr-dark-100-);
    --text-secondary-color: var(--clr-dark-200-);
    --link-color: var(--clr-dark-100-);
    --button-color: var(--clr-dark-200-);
    --button-text-color: var(--clr-light-1000);

    --ff-default: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--clr-light-1000);
        --bg-secondary-color: var(--clr-light-700);
        --text-color: var(--clr-dark-100-);
        --text-secondary-color: var(--clr-dark-200-);
        --link-color: var(--clr-dark-100-);
        --button-color: var(--clr-dark-200-);
        --button-text-color: var(--clr-light-1000);
        --button-background-color: var(--clr-light-800);
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--clr-dark-100-);
        --bg-secondary-color: var(--clr-dark-200-);
        --text-color: var(--clr-light-1000);
        --text-secondary-color: var(--clr-light-700);
        --link-color: var(--clr-light-1000);
        --button-color: var(--clr-dark-200-);
        --button-text-color: var(--clr-light-1000);
        --button-background-color: var(--clr-light-800);
    }
}


body {
    font-family: var(--ff-default);
    background-color: var(--bg-color);
    min-height: 100vh;

}

.background-styling {
    background-color: var(--clr-weather-blue);
}

form,
.hero-image,
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
h1{
    padding-bottom: 20px;
}
.hero-text{
    color: var(--clr-light-1000);
   
}

/* =========weather container======= */

.Container {
    background-color: var(--clr-weather-blue);
    color: var(--clr-light-1000);

}

/* .weatherIcon {
    position: relative;
    top: -120px;
    right: -130px;
} */

.temperatureCelcius {
    font-size: 30px;
    padding: 10px;

}

.temperatureCon {
    display: flex;
    gap: 10px;
}

.temperatureCelcius::after {
    content: " °C";
    font-size: 15px;
    position: relative;
    top: -10px;     

}

/* Preloader Gif */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

#preloader img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About us page*/
#about-us-page {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 7.5rem;
}

#about-us-page h1 {
    text-align: center;
    margin: 2.5rem 0;
}

.user-container {
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem 1.4rem;
    padding: 3rem 2rem 0 2rem;
    min-height: calc(100vh - 100px);

}

.user-card {
    border-radius: 2rem;
    overflow: auto;
    background-color: var(--clr-accent-);
}

.user-card-img {
    width: 100%;
    object-fit: cover;
}


.card-body {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0 0 2rem 2rem;
    padding: 1rem 0;
}


.card-title {
    text-align: center;
    color: var(--clr-light-1000);
}

@media (min-width: 768px) {

    .user-card-img {
        width: 250px;
        object-fit: cover;
    }

    /* #about-us-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-secondary-color);
        margin: 4rem 20% 20% 20%;
        border-radius: 3rem;

    } */
    #about-us-page {
        /* display */
        background-color: var(--bg-secondary-color);
        padding: 2rem;
        border-radius: 2rem;
    }

}

@media (min-width: 1024px) {
    #about-us-page {
        /* margin: 4rem 25rem 9rem 25rem; */
        margin: 4rem 25% 20% 25%;
    }
}

/* ================Contact============== */
#contact-section h2 {
    font-size: 2rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: var(--text-color);
    margin: 1rem 15%;
}

.contact-section > * {
    margin: 0.5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-form>* {
    outline: none !important;
    border: 0;
}

.contact-form input {
    flex: 3;
    margin: 0.5rem;
    color: var(--bg-color);
    background-color: var(--button-background-color);
    padding: 1.2rem;
    /* margin: 1rem 15%; */
    border-radius: 2rem;
    font-size: 1.4rem;
}

.contact-form button {
    color: var(--clr-light-1000);
    background-color: var(--clr-dark-200-);
    padding: 1.2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}
.contact-form button:hover {
    color: var(--clr-dark-100-);
    background-color: var(--clr-accent-);
}

@media (min-width: 768px) {
    /* .contact-form input {
        margin: 1rem 20%;
    }*/

    .contact-section {
        margin: 1rem 27%;
    }

    .contact-form {
        display: grid;
    }
}

@media (min-width: 1024px) {
    .contact-section {
        margin: 1rem 25%;
    }
}

/* ================Map forecast============== */
#map-page h1{
    color: var(--text-color);
    text-align: center;
    margin: 3rem;
    background-color: var(--bg-color);
    
}

/* ======================btn-search============== */

input:focus {
    outline: none !important;
}

.btn-search {
    font-weight: 0;
    font-size: 14px;
    color: var(--clr-light-1000);
    background-color: var(--clr-dark-200-);
    padding: 8px 10px;
    border: 0;
    border-radius: 40px;
    transition: 1000ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

.btn-search:hover {

    transition: 1000ms;
    background-color: var(--clr-accent-);
    color: var(--clr-dark-200-);

}

#searchinput {
    border: 0;
}

.input-field {
    padding: 7px;
    font-size: 13px;
    border-width: 2px;
    border-color: var(--clr-dark-200-);
    background-color: var(--clr-light-1000);
    color: var(--clr-dark-100-);
    border-style: solid;
    border-radius: 28px;

}

.navbar {
    display: none;
    border-bottom: 5px solid var(--text-secondary-color);
    background: var(--bg-color);
}


/* ================footer=================== */
.weatherfeather{
    color: var(--text-color);
}
@media only screen and (max-width:768px) {

    /* =============CSS MOBILE VERSION==================== */
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobil-navbar {
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        border-bottom: 5px solid var(--clr-accent-);
    }

    .navbar-nav {
        display: none;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .weatherfeather{
        padding-left: 5px;
    }

    .navbar-button-container-mobile {}


    .sidebar {
        position: fixed;
        background: var(--bg-color);
        height: 100%;
        width: 35%;
        left: -50%;
        transition: 0.3s;
        z-index: 999999;
    }

    .hamburger-button{
        background-color: var(--bg-color);
        margin: 0.5rem 1rem;
        border: 0;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 5px;
        background-color: var(--text-color);
        margin: 6px 0;
        transition: 0.4s;
    }
    li{
        font-family:sans-serif;
        font-size: 20px;
        padding: 10px;
        background-color: var(--bg-secondary-color);
        color: var(--button-text-color);

    }
    

    #mobile-bottom-line{
        border-bottom: 3px solid var(--clr-accent-);
        text-decoration: none;
        color: var(--button-text-color);
    }
    
    
    .nav-link {
        text-decoration: none;
        color: var(--text-color);
        border-bottom: 0.5px solid var(--clr-accent-); /* or any desired value */
    }
    .Container{
        display: flex;
        flex-direction: column;
    }
    /*====== Mobile footer for homepage*/
    #footer-homepage{
        position: static;
    }
}

@media only screen and (min-width:768px) {
    .footer-for-all {
        background: var(--clr-light-1000);
        width: 100vw;
        position: fixed;
        bottom: 0;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap-reverse;
        align-content: baseline;
        border-top: 5px solid var(--clr-dark-200-);
    }
    #footer-for-about {
        background: var(--clr-light-1000);
        width: 100vw;
        position: absolute;
        bottom: 0;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap-reverse;
        align-content: baseline;
        border-top: 5px solid var(--clr-dark-200-);
    }
    /*  =============NAV BAR PC ======================== */
    .navbar{
        display: flex;
        align-items: center;
        background: var(--bg-color);
        border-bottom: 5px solid var(--clr-accent-);
        color: var(--text-color);
    }
    .container-navbarpc{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--button-color);
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 5px;
        /* background-color:var(--bg-secondary-color) ; */
    }
    .weatherfeather{
        padding-left: 5px;
    }
    .navbar-button-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto; /* this will push it to the right side */
        background-color: var(--bg-color);
    }
    .nav-link{
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        padding: 5px;
        color: var(--text-color);
        font-family:sans-serif;
        font-weight: bolder;
        box-shadow: inset 0 0 0 0 var(--clr-light-700);
        margin: 5px;
        border-bottom: 2px solid transparent;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    .nav-link:hover{
        box-shadow: inset 100px 0 0 0 var(--bg-secondary-color);
        border-bottom: 2px solid var(--clr-accent-);
        background-color: var(--bg-secondary-color);
    }
    #logo{
        padding-left: 10px;
    }


    .mobil-navbar {
        display: none;
    }

    .parentContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }
    .smallContainerForWeather{
        padding: 30px;
    }
}



/* Social media fixa darkmode / white mode ändra färger */
.footer-for-all {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    min-width: 100vw;
    padding: 10px;
    border-top: 5px solid var(--clr-accent-);
    overflow: auto;
    z-index: 99999;


}
#footer-for-about{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--bg-color);
    min-width: 100vw;
    padding: 10px;
    border-top: 5px solid var(--clr-accent-);
    overflow: auto;

}

.socials{
    color: var(--text-color);
}

.socials a{
    filter: invert(38%) sepia(1%) saturate(3699%) hue-rotate(242deg) brightness(91%) contrast(96%);
}

#logo {
    filter: invert(82%) sepia(20%) saturate(1203%) hue-rotate(90deg) brightness(96%) contrast(90%);
    
}

#copyright {
    color: var(--text-color);
    margin-top: 30px;
    /* filter: invert(38%) sepia(1%) saturate(3699%) hue-rotate(242deg) brightness(91%) contrast(96%); */
}

@media (prefers-color-scheme: dark) {
    .socials a{
        filter: invert(95%) sepia(2%) saturate(1368%) hue-rotate(70deg) brightness(105%) contrast(101%);
    }
}