@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --clr-dark-100-: #4E4450;
    --clr-dark-200-: #625665;
    --clr-light-1000: #EEFFEE;
    --clr-light-800: #D6F0DD;
    --clr-light-700: #D6EAD6;
    --clr-accent-: #4EE99E;
    --clr-weather-blue: #35ABED;

    --bg-color: var(--clr-light-1000);
    --bg-secondary-color: var(--clr-light-700);
    --text-color: var(--clr-dark-100-);
    --text-secondary-color: var(--clr-dark-200-);
    --link-color: var(--clr-dark-100-);
    --button-color: var(--clr-dark-200-);
    --button-text-color: var(--clr-light-1000);

    --ff-default: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--clr-dark-100-);
        --bg-secondary-color: var(--clr-light-700);
        --text-color: var(--clr-dark-100-);
        --text-secondary-color: var(--clr-dark-200-);
        --link-color: var(--clr-dark-100-);
        --button-color: var(--clr-dark-200-);
        --button-text-color: var(--clr-light-1000);
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--clr-dark-100-);
        --bg-secondary-color: var(--clr-dark-200-);
        --text-color: var(--clr-light-1000);
        --text-secondary-color: var(--clr-light-700);
        --link-color: var(--clr-light-1000);
        --button-color: var(--clr-dark-200-);
        --button-text-color: var(--clr-light-1000);
    }
}


body {
    font-family: var(--ff-default);
    background-color: var(--bg-color);
    min-height: 100vh;

}

.background-styling {
    background-color: var(--clr-weather-blue);
}

form,
.hero-image,
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

/* =========weather container======= */

.Container {
    background-color: var(--clr-weather-blue);
    color: var(--clr-light-1000);

}

.weatherIcon {
    position: relative;
    top: -120px;
    right: -130px;
}

.temperatureCelcius {
    font-size: 30px;
    padding: 10px;

}

.temperatureCon {
    display: flex;
    gap: 10px;
}

.temperatureCelcius::after {
    content: " °C";
    font-size: 15px;
    position: relative;
    top: -10px;

}

/* Preloader Gif */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

#preloader img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About us page*/
#about-us-page {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 7.5rem;
}

#about-us-page h1 {
    text-align: center;
    margin: 2.5rem 0;
}

.user-container {
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem 1.4rem;
    padding: 3rem 2rem 0 2rem;
    min-height: calc(100vh - 100px);

}

.user-card {
    border-radius: 2rem;
    overflow: auto;

}

.user-card-img {
    width: 100%;
    object-fit: cover;
}


.card-body {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0 0 2rem 2rem;
    padding: 1rem 0;
}


.card-title {
    text-align: center;
    color: var(--clr-light-1000);
}

@media (min-width: 768px) {

    .user-card-img {
        width: 250px;
        object-fit: cover;
    }

    #about-us-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-secondary-color);
        margin: 4rem 20% 20% 20%;
        border-radius: 3rem;

    }
}

@media (min-width: 1024px) {
    #about-us-page {
        /* margin: 4rem 25rem 9rem 25rem; */
        margin: 4rem 25% 20% 25%;
    }
}

/* ================Contact============== */
#contact-section h2 {
    font-size: 2rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: var(--text-color);
    margin: 1rem 15%;
}

.contact-section > * {
    margin: 0.5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-form>* {
    outline: none !important;
    border: 0;
}

.contact-form input {
    flex: 3;
    margin: 0.5rem;
    color: var(--bg-color);
    background-color: var(--clr-light-1000);
    padding: 1.2rem;
    /* margin: 1rem 15%; */
    border-radius: 2rem;
    font-size: 1.4rem;
}

.contact-form button {
    color: var(--clr-light-1000);
    background-color: var(--clr-dark-200-);
    padding: 1.2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}
.contact-form button:hover {
    color: var(--clr-dark-100-);
    background-color: var(--clr-accent-);
}

@media (min-width: 768px) {
    /* .contact-form input {
        margin: 1rem 20%;
    }*/

    .contact-section {
        margin: 1rem 27%;
    }

    .contact-form {
        display: grid;
    }
}

@media (min-width: 1024px) {
    .contact-section {
        margin: 1rem 25%;
    }
}

/* ================Map forecast============== */
#map-page h1{
    color: var(--text-color);
    text-align: center;
    margin: 3rem;
}

/* ======================btn-search============== */

input:focus {
    outline: none !important;
}

.btn-search {
    font-weight: 0;
    font-size: 14px;
    color: var(--clr-light-1000);
    background-color: var(--clr-dark-200-);
    padding: 8px 10px;
    border: 0;
    border-radius: 40px;
    transition: 1000ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}

.btn-search:hover {

    transition: 1000ms;
    background-color: var(--clr-accent-);
    color: var(--clr-dark-200-);

}

#searchinput {
    border: 0;
}

.input-field {
    padding: 7px;
    font-size: 13px;
    border-width: 2px;
    border-color: var(--clr-dark-200-);
    background-color: var(--clr-light-1000);
    color: var(--clr-dark-100-);
    border-style: solid;
    border-radius: 28px;

}

.navbar {
    display: none;
    border-bottom: 5px solid var(--text-secondary-color);
    background: var(--bg-color);
}


/* ================footer=================== */

@media only screen and (min-width:768px) {
    #footer-for-all {
        background: var(--clr-light-1000);
        width: 100vw;
        position: fixed;
        bottom: 0;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap-reverse;
        align-content: baseline;
        border-top: 5px solid var(--clr-dark-200-);
    }

    /*  =============NAV BAR PC ======================== */
    .navbar {
        /* display: block;
        border-bottom: 5px solid var(--text-secondary-color);
        background: var(--bg-color); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--clr-light-1000);
        border-bottom: 5px solid var(--text-secondary-color);
    }

    .mobil-navbar {
        display: none;
    }

}


@media only screen and (max-width:768px) {

    /* =============CSS MOBILE VERSION==================== */
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .mobil-navbar {
        display: flex;
        flex-direction: column;
        background: var(--clr-light-1000);
        border-bottom: 5px solid var(--text-secondary-color);
    }

    .navbar-nav {
        display: none;
    }

    .navbar-brand {}

    .navbar-button-container-mobile {}


    .sidebar {
        position: fixed;
        background: var(--clr-light-1000);
        height: 100%;
        width: 35%;
        left: -50%;
        transition: 0.3s;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 5px;
        background-color: var(--clr-dark-200-);
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Social media fixa darkmode / white mode ändra färger */
    #footer-for-all {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: var(--clr-light-1000);
        min-width: 100vw;
        padding: 10px;
        border-top: 5px solid var(--clr-dark-200-);
        overflow: auto;


    }
}

#socials {
    filter: invert(38%) sepia(1%) saturate(3699%) hue-rotate(242deg) brightness(91%) contrast(96%);
}

#logo {
    filter: invert(82%) sepia(20%) saturate(1203%) hue-rotate(90deg) brightness(96%) contrast(90%);
}

.navbar-nav {
    fill: var(--clr-dark-100-);
    filter: invert(36%) sepia(6%) saturate(1020%) hue-rotate(242deg) brightness(93%) contrast(91%);
    /* filter ändras färg till vit behåll till darkmode */
    /* filter: invert(100%);  */
}

#copyright {
    margin-top: 30px;
    filter: invert(38%) sepia(1%) saturate(3699%) hue-rotate(242deg) brightness(91%) contrast(96%);
}