:root {
    --clr-dark-100-: #4E4450;
    --clr-dark-200-: #625665;
    --clr-light-1000: #EEFFEE;
    --clr-light-800: #D6F0DD;
    --clr-light-700: #D6EAD6;
    --clr-accent-: #4EE99E;
    --clr-weather-blue: #35ABED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: sans-serif;
    background-color: var(--clr-weather-blues);
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 10.74rem;
    
   
    
   
}

.background-styling {
    background-color: var(--clr-weather-blue);
}

form,
.hero-image,
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

/* =========weather container======= */

.Container {
    background-color: var(--clr-weather-blue);
    color: var(--clr-light-1000);
    
}

.weatherIcon {
    position: relative;
    top: -120px;
    right: -130px;
}

.temperatureCelcius {
    font-size: 30px;
    padding: 10px;


}

.temperatureCon {
    display: flex;
    gap: 10px;
}

.temperatureCelcius::after {
    content: " °C";
    font-size: 15px;
    position: relative;
    top: -10px;
   
}

/* Preloader Gif */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

#preloader img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CSS MOBILE VERSION */

.navbar {
    background: var(--clr-dark-100-);
}

/* Social media fixa darkmode / white mode ändra färger */
#instagram {
    fill: var(--clr-light-1000);
}

#footer-for-all {
    background: var(--clr-dark-100-);
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

#socials {
    filter: invert(100%);
}

#copyright {
    margin-top: 30px;
}
